@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a project for CIS 229, week 4. We haven't tuned field names on forms, but
    we do have an active, working database!</p>
