@model RideSharePlus.Models.Ride

@*<div id="sametown">
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name</li>
            }
        </ul>
    </div>
*@